{% extends 'base1.html' %}
{% load static %}
{% block body %}
<body>
	<div class='header'>
        <p>招聘信息处理结果可视化</p>

    </div>
    <div class="content">
        <div class="nav">
            <ul>
                <li><a href="/sp/visualization/">对大数据需求最剧烈的行业</a></li>
                <li class="current"><a href="/sp/visualization/?lb=1">IT行业工资最高的10个城市</a></li>
                <li><a href="/sp/visualization/?lb=2">不同IT职位的需求量和月薪</a></li>
                <li><a href="/sp/visualization/?lb=3">不同大数据职位需求量和月薪</a></li>
                <li><a href="/sp/visualization/?lb=4">不同城市大数据需求量和月薪</a></li>
                <li><a href="{% url 'index' %}">返回主页</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="title">IT行业工资最高的10个城市</div>
            <div class="show">
                <div class='chart-type'>柱状图</div>
                <div id="main"></div>
            </div>
        </div>
    </div>
<script>
//基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
// 指定图表的配置项和数据

var city_lst={{ city|safe }};
var sal_lst={{ salary|safe }};

option = {
    color: ['#3398DB'],
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            data : city_lst,
            axisTick: {
                alignWithLabel: true
            }
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'工资',
            type:'bar',
            barWidth: '60%',
            data:sal_lst
        }
    ]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>
</body>
{% endblock body %}